# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Prisma
apps/api/prisma/*.db

# Office temp / sources de specs
~$*.docx

# Uploads locaux
uploads/
.vercel
